nav{
    width: 100%;
    height: 75px;
    background-color: #2b2b2b;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 18px;
}

.logo{
    width: 200px;
    margin-right: 0;
    float: left;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-top: 5px;
}

.nav-con{
    float: right;
}

.nav-con li{
    width: 110px;
    height: 34px;
    padding-top: 1px;
    margin-top: 2px;
    margin-right: 10px;
    list-style: none;
    color: #2b2b2b;
    background-color: white;
    border: solid white;
    border-radius: 5px;
    text-align: center;
    float: left;
}

ul .active{
    border-color: rgb(200, 0, 0);
    background-color: rgb(200, 0, 0);
    color: white;
}

header{
    width: 100%;
    height: 600px;
    background-image: url(../assets/maxresdefault.jpg);
    background-size: cover
}
header h1{
    font-size: 64px;
    font-family: 'Anton', sans-serif;
}
header h3{
    font-family: 'Abel', sans-serif;
    font-weight: 500 bold;
    f
}

.button{
    width: 220px;
    height: 40px;
    border: 2.5px solid #2b2b2b;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    margin-top: 30px;
}

.h{
    border: 2.5px solid white;
    color: white;
}

.overlay{
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding-top: 150px;
    padding-left: 10%;
}

.overlay h3{
    font-weight: 300;
}

.col-12{
    width: 100%;
    height: 100px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.col-12 h2{
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}

.col-6{
    height: 500px;
    background-color: white;
    padding-top: 55px;
}
.rnd-img{
    width: 400px;
    height: 400px;
    background-image: url(../assets/hands.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 100px;
    border-radius: 50%;
}
.col-6 p{
    
    width: 74%;
}

.col-6 h3{
    font-family: 'Abel', sans-serif;
    padding-top: 65px;
}
.col-6 h2{
    font-family: 'Anton', sans-serif;

}

.w{
    background-color: white;
    color: #2b2b2b;
    margin-top: 30px;
}
.col-12 h3{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}

.col-3{
    margin-top: 50px;
    text-align: center;
    padding-left: 8.75%;
}

.pfp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 42px;
    margin-bottom: 15px;
}

.eleven{
    background-image: url(../assets/old_eleven.png);
    background-size: cover;
    background-position: center;
}
.mike{
    background-image: url(../assets/old_mike.png);
    background-size: cover;
    background-position: center;
}

.dustin{
    background-image: url(../assets/old_dustin.png);
    background-size: cover;
    background-position: center;
}

.eddie{
    background-image: url(../assets/zombie.jpg);
    background-size: cover;
    background-position: center;
}

.f-button{
    width: 150px;
    height: 35px;
    margin-left: 42px;
    background-color: #2b2b2b;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.mov{
    padding-left: 5%;
    padding-right: 4%;
    margin-bottom: 250px;
}
.mov h3{
    padding-top: 20px;
    font-weight: bold;
}

.pic{
    height: 315px;
    width: 560px;
    background-color: lightgray;
    border-radius: 5px;
}

.box{
    margin-top: 10px;
    width: 100%;
    height: 450px;
    background-color: lightgray;
    border-radius: 5px;
    
}

.footer{
    margin-top: 120px;
    width: 100%;
    height: 140px;
    font-size: 16px;
    text-align: center;
    background-color: #2b2b2b;
    color: white;
    padding-top: 40px;
}

.social{
    width: 40px;
    margin-right: 10px;
}